---
import Content from "../Content.astro";
---

<Content>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5">
    <div>
      <h1 class="text-red-900 text-4xl font-bold">Titular</h1>
      <p class="text-xl">MSPE. Elvira Adriana López Jacinto</p>
    </div>
    <div>
      <h2 class="text-red-900 text-2xl font-bold">Cargo:</h2>
      <p class="text-xl">
        Directora General del Tecnológico de Estudios Superiores de Ixtapaluca
      </p>
    </div>

    <div>
      <h3 class="text-red-900 text-2xl font-bold">Teléfono:</h3>
      <p class="text-xl">
        Directora General del Tecnológico de Estudios Superiores de Ixtapaluca
      </p>
    </div>
    <div>
      <h3 class="text-red-900 text-2xl font-bold">Correo Electrónico:</h3>
      <p class="text-xl">
        Directora General del Tecnológico de Estudios Superiores de Ixtapaluca
      </p>
    </div>

    <div class="md:col-span-2">
      <h3 class="text-red-900 text-2xl font-bold">Dirección:</h3>
      <p class="text-xl">
        Km. 7 de la carretera Ixtapaluca-Coatepec s/n San Juan, Distrito de
        Coatepec, Ixtapaluca, Estado de México C.P.56580.
      </p>
    </div>
  </div>
</Content>
